<!DOCTYPE html>
<html lang="{{localeInfo.lang}}" dir="{{localeInfo.direction}}">
  <head>
    <meta charset="utf-8">
    {{ newrelic.getBrowserTimingHeader() | safe }}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="bramble-host" content="{{editorHOST}}">

    <link rel="stylesheet" href="/resources/stylesheets/userbar.css">
    <link rel="stylesheet" href="/homepage/stylesheets/style.css">
    <title>Thimble by Mozilla - An online code editor for learners &amp; educators.</title>

  </head>

  <body>
    {% include './userbar.html' %}

    <script id="homepage-script"
        src="/scripts/vendor/require.min.js"
        data-main="/homepage/scripts/main.js">
    </script>

    <section class="main-cta">
      <div class="content-wrapper">
        <div class="left-side">
          <h1>Write the Web <br/> On the Web</h1>
          <p>
            Thimble is an online code editor that makes it easy to create and publish
            your own web pages while learning <a title="Learn about HTML" href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>,
            <a title="Learn about CSS" href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> &amp; <a title="Learn about JavaScript" href="https://developer.mozilla.org/en-US/Learn/JavaScript">JavaScript</a>.
          </p>
          <div class="new-project-button-wrapper">
            <a id="new-project-button" title="Start a new Thimble project from scratch." class="button">
              <div class="pencil-animation">
                <div class="line-wrapper">
                  <div class="line line-one"></div>
                  <div class="line line-two"></div>
                  <div class="line line-three"></div>
                </div>
                <div class="pencil"></div>
              </div>
              Start a project from scratch
            </a>
          </div>
        </div>

        <div class="video">
          <iframe width="504" height="284" src="https://www.youtube.com/embed/JecFOjD9I3k" frameborder="0" allowfullscreen></iframe>
        </div>

      </div>
    </section>

    

    <footer>
      <div class="content-wrapper">
        <div class="project-info">
          <a class="mozilla-logo" title="Mozilla" href="https://www.mozilla.org/en-US/"><img alt="Mozilla" src="img/mozilla-logo.svg" /></a>
          <p class="thimble-context">
            Thimble is part of the Mozilla Learning Network. <br/>
            Learn to teach like mozilla at <a href="http://teach.mozilla.org">teach.mozilla.org</a>.
          </p>
        </div>

        <ul class="social-links">
          <li><a title="Stuck? Get help!" class="help" href="https://support.mozilla.org/en-US/products/webmaker/thimble"><span class="icon"></span>Stuck? Get help!</a></li>
          <li><a title="Talk to us on Twitter" class="twitter" href="https://twitter.com/mozteach"><span class="icon"></span>Talk to us on Twitter</a></li>
          <li><a title="Contribute on Github" class="github" href="https://github.com/mozilla/thimble.webmaker.org"><span class="icon"></span>Contribute on Github</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
